body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
     
}
h1{
    background-color: aqua;
}
form{
    background-color: aquamarine;
    text-align: center;
   
    margin: auto;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 5px 5px 5px hsl(0,0,0,0.3);
}
#textBox{
    width: 50%;
    text-align: center;

}
#form{
    width: 50%;
}