body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: antiquewhite;
}

h1 {
  text-align: center;
  color: #333;
}

.wrapper {
  width: 800px;
  margin: 0 auto;
}

.piano {

  display: flex;
  position: relative;
  width: 630px ;
  height: 400px;
  background-color: #f4f4f4;;
  border-radius: 15px;
}

.key {
  cursor: pointer;
  user-select: none;
  border: 5px solid #333;
  border-radius: 15px;
}

.key.white {
  position: relative;
  width: 90px;
  height: 400px;
  background-color: white;
  border: 1px solid #333;
  box-shadow: inset 0 5px 10px rgba(0,0,0,0.1);
}

.key.black {
  position: absolute;
  width: 50px;
  height: 200px;
  background-color: #000;
  z-index: 10;
  border-radius: 0 0 5px 5px;
}

.key.black:hover {
  background-color: #222;
}

.white:hover {
  background-color: #f0f0f0;
}

.active.white {
  background-color: #ddd;
  box-shadow: inset 0 5px 15px rgba(0,0,0,0.3);
}

.active.black {
  background-color: #333;
}

.note-label {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  font-weight: bold;
}

.white .note-label {
  color: #333;
}

.black .note-label {
  color: white;
}


#black-db { left: 65px; }
#black-eb { left: 155px; }
#black-gb { left: 340px; }
#black-ab { left: 430px; }
#black-bb { left: 520px; }